body{
    background:#241f1c;
    color:#e8cfc3;
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight:normal;
    margin:0;
    min-height:100%;
}

#content{
    background:#1a1817;
    margin-left:300px;
    /* margin:auto; */
    max-width:800px;
    min-height:100%;
    padding:1.618em 3.236em;
}

p{
    font-size:16px;
    line-height:24px;
    margin:0px 0px 24px 0px;
}

.figure p{
    color:#e8cfc3;
    font:italic 85%/1 arial,sans-serif;
    padding:1em 0;
}
